#btech_main_section {
	width: 1200px;
	margin: 0 auto;
}

.toggle_box {
	display: none;
}

.toggle_box + label {
	display: block;
	font-weight: bold;
	color: cornflowerblue;
	font-size: 1.5em;
	margin: 30px 0px;
}

.toggle_box + label:hover {
	display: block;
	font-weight: bold;
	color: red;
	font-size: 1.5em;
}

.toggle_box + label + div{
	display: none;
	width: 800px;
	margin: 0 auto;
	box-shadow: 5px 5px 5px #888;
	/*position: fixed;
	margin-top: 200px;
	margin-right: 500px;*/
}

.toggle_box:checked + label + div {
	display: block;
	position: relative;
	margin-left: 400px;
}

.sem_table {
	color: gray;
	line-height: 2em;
	font-size: 1.3em;
	margin-bottom: 10px;
	width: 100%;
	border: solid gray 2px;
}

.sem_table tr {
}

.sem_table tr td {
	padding: 5px;
	border-spacing: 5px;
}

#btech_main_section p {
	color: darkgray;
	line-height: 2em;
	font-size: 1.3em;
}

h2 {
	text-align: center;
	color: gray;
}